html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-size: 15px;
}

section {
    font-size: 2em; /* 2 x 15 = 30px */
}

p {
    margin-top: 20px;
    font-size: 1em; /* 30px from section */
}
